*{
  box-sizing: border-box;
  margin: 0px;
  font-family: 'Noto Sans TC', sans-serif;
}

.header ul,.nav{
  list-style-type: none;
}

.container{
  display: flex;
  background: lightseagreen;
  margin-bottom: 20px;
}

li{
  margin: 18px 0px;
  display: inline-block;
}

.header2{
  margin:11px 0px 6px 10px;
}

.header a.hd,
.nav a
{
  border: 1px solid #CCC;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 6px;
}

table{
  border-collapse: collapse;
  border: 1px solid #0000ff20;
  margin: 20px 40px;
}

table td{
  border-collapse: collapse;
  border: 3px solid #0000ff20;
  padding: 5px;
}

table tr.first,
tr:nth-of-type(2),
tr:nth-of-type(3),
tr:nth-of-type(4),
tr:nth-of-type(5),
tr:nth-of-type(6),
tr:nth-of-type(7){
  background: lightgoldenrodyellow;
}


tr:nth-of-type(8):hover,
tr:nth-of-type(9):hover,
tr:nth-of-type(10):hover,
tr:nth-of-type(11):hover,
tr:nth-of-type(12):hover,
tr:nth-of-type(13):hover{
  background: rgb(250,250,210,0.5);
  transition: all 1.2s ease 0s;
}

.awd_number,
.lottery_number{
  color: red;
}

button,
.awd_number{
  padding: 5px;
  border-radius: 10px;
  
}

.button_layout{
  position: relative;
  width: 200px;
  height: 40px;
}

.button_layout::after:hover{
  background: yellow;
  width: 200px;
  height: 40px;
  position: absolute;
  z-index: 99;
}

table td .award_button{
  border: 1px solid #CCC;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 6px;
  background: radial-gradient(circle at 25% 30%, white, yellow, gold )
}

a{
  text-decoration: none;
}

h1{
  margin: 20px 40px 5px 40px;
}

.note{
  margin: 0px 40px 0px 40px;
}

.yearswitch,
.period_item{
  margin: 0px 0px 0px 40px;
  font-size: 1rem;
}


.number,
.expend,
.selection{
  margin: 0px 0px 10px 0px;
}

.selection{
  position: relative;
}

.yearcol{
  position: absolute;
  left: 180px;
}

.code_col{
  width: 40px;
}

.keylot{
  line-height: 1.5rem;
  width: 200px;
  
}

.con{
  display: flex;
  flex-flow: column wrap;
}

.opt{
  margin: 20px 40px;
  width: 400px;
  text-align: center;
}

.nb{
  background: white;
}

.bor{
  background: lightseagreen;
  border-radius: 30px;
}