*{
  box-sizing: border-box;
}

.header ul,.nav{
  list-style-type: none;
}

li{
  margin: 15px 0px;

}

.header a,
.nav a{
  border: 1px solid #CCC;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 6px;
  text-decoration: none;
}

table{
  border-collapse: collapse;
  border: 1px solid #0000ff20;
  
}

table td{
  border-collapse: collapse;
  border: 3px solid #0000ff20;
  padding: 5px;
}

.lottery_number{
  color: red;
}